@page "/chat"

<p>
    I was watching a video of pizza tower and the song "World Wide Noise" slaps.
    Just checked the website of the artist and had like a cool iframe of a chat so <b>WELL HERE IS IT</b>
</p>

<iframe src="https://www3.cbox.ws/box/?boxid=3536483&boxtag=uBSum9" width="100%" height="100%" allowtransparency="yes"
    allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>