@page "/hobbies"

@code {

}

<PageTitle>Hobbies!</PageTitle>

<h1>My hobbies!!1!</h1>

<p>I don't have a lot of hobbies (at least, not officially listed). I will try my best to list them 🙏. Between the
    things
    i like to do there are:
</p>
<ul>
    <li>videogames like <ul>
            <li>counter strike 2 (former Global offensive)</li>
            <li>vrchat</li>
            <li>league of legends</li>
            <li>yakuza series (currently @@2</li>
        </ul>
    </li>
    <li>watching memes</li>
    <li>watching youtbes videos</li>
    <li>reading (trash) manga</li>
</ul>

<img style="max-width: 10vw;" src="https://cataas.com/cat"
    alt="this is a cat from the internet and a division from the routine and the occassion" />

<p>I also do somethings sometimes. This is not in the main list cause i do them seldom:</p>
<ul>
    <li>dissasembly</li>
    <li>ur mom</li>
    <li>3d printing</li>
    <li>3d modeling</li>
    <li>streaming (on twitch)</li>
    <li>video editing (davinci is free and cool)</li>
    <li>collages (i dont have money for photoshop anymore so i use krita)</li>
    <li>watch anime</li>
    <li>drawing (used to)</li>
    <li>crimes</li>
    <li>diffusors based image synthesis (checkout the thingies <a
            href="https://github.com/AUTOMATIC1111/">AUTOMATIC1111</a> team do!)
    </li>
    <li>music (using ableton lite cause i got a cheap keyboard the other day)</li>
    <li>sewing and knitting</li>
    <li>reading (h) doujins</li>

</ul>