@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

My name is nobodynuf. I know a lil bit of english, c#, sql & js.

I bought a funny ending domain so ill just use it to upload random stuff.

<Placeholder />

<SurveyPrompt Title="How is Blazor working for you?" />
