@page "/"

@code {
    public string ReturnCoolColor()
    {
        string[] colors = new string[] { "green", "blue", "red",/* "yellow",*/ "cyan", "orange", "magenta" };
        return colors[Random.Shared.Next(0, colors.Length)];
    }
    public RenderFragment? CreateCoolText(string text) =>
    @<text>
        @foreach(var item in text.ToCharArray())
    {
        <span style="color:@ReturnCoolColor()">@item</span>
    }
    </text>;
}


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<marquee scrollamount="12">Welcome to my website!!!</marquee>

<p>My name is nobodynuf. This is my cool interwebs</p>

<p>You can know more about me click-ing <a href="/myself">here</a></p>
&copy;@CreateCoolText($"{DateTime.Now.Year} - nobodynuf")
