<style>
    .agga {
        max-width: 30vw;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <p>
            My name is nobodynuf. I know a lil bit of english, c#, sql & js.
            I bought a funny ending domain so ill just use it to upload random stuff.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div class="text-center">
            <img class="agga rounded mx-auto d-block" src="/img/FkDkUDUXgAAWohU.jpg" />
        </div>

    </div>
</div>
